@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/HelveticaNeueCyr-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/HelveticaNeueCyr-Bold.woff') format('woff');
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

@media (min-width: 320px) and (max-width: 425px) {
  body {
    min-width: 320px;
  }
}
